<md-toolbar class="md-primary mdl-cell mdl-cell--12-col  mdl-grid m-w-720" >
    <div class="md-toolbar-tools">
        <h2 class="md-flex" ng-bind="EventLabel.filter_label_filter_event()"></h2>
    </div>
</md-toolbar>

<div class="mdl-cell mdl-cell--12-col mdl-color--gray-500 mdl-shadow--4dp
                    mdl-grid
                    filter-content">

    <md-input-container class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
        <label ng-bind="EventLabel.filter_label_event_name()"></label>
        <input ng-model="search.name">
    </md-input-container>

    <md-input-container class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
        <label ng-bind="EventLabel.filter_label_event_begin_date()"></label>
        <md-datepicker ng-model="begin_date" md-open-on-focus></md-datepicker>
    </md-input-container>

    <md-input-container class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
        <label ng-bind="EventLabel.filter_label_event_category()"></label>
        <md-select ng-model="search.category.name">
            <md-option><em></em></md-option>
            <md-option ng-repeat="category in eventCtrl.categories"
                       ng-value="category.name"
                       ng-bind="category.name">
            </md-option>
        </md-select>
    </md-input-container>

    <div class="mdl-layout-spacer"></div>

    <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
        <md-button
                ng-click="eventCtrl.clearFilter()"
                class="md-raised md-primary mdl-cell--12-col"
                aria-label="eventCtrl.Label.clear_filter()"
                ng-bind="Label.clear_filter()">
        </md-button>
    </div>
</div>

<event-detail
        ng-repeat="event in eventCtrl.filteredEvents = (eventCtrl.events | filter: search | event_begin_date_filter: begin_date) "
        class="mdl-card mdl-card--event-detail
        mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-phone
        mdl-shadow--3dp">
</event-detail>

<noresult-message
        class="mdl-grid mdl-cell mdl-cell--12-col"
        ng-hide="eventCtrl.filteredEvents.length"
        ng-init="message = Label.no_results()">
</noresult-message>