{% load static %}

<link rel="stylesheet" href="{% static "/css-main/style-base.css" %}"/>

<!-- Google Fonts -->
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en" />

<!-- Angular -->


<link rel="stylesheet" href="{% static "/node_modules/angular-material/angular-material.css" %}" />

<!-- MDL -->

<link rel="stylesheet" href="{% static "/node_modules/mdl/material.min.css" %}" />
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>

<style>

    .android-be-together-section {
        position: relative;
        height: 800px;
        width: auto;
        background-color: #f3f3f3;
        background: url('{% static "images/android/slide01.jpg" %}') center 30% no-repeat;
        background-size: cover;
    }

    .android-wear-section {
        position: relative;
        background: url('{% static "images/android/wear.png" %}') center top no-repeat;
        background-size: cover;
        height: 800px;
    }

    .android-customized-section-image {
        background: url('{% static 'images/android/devices.jpg' %}') center top no-repeat;
        background-size: cover;
        height: 400px;
    }

    .sati-capa {
        position: relative;
        background: url('{% static 'images/sati/capa-evento.png' %}') center top no-repeat;
        background-size: cover;
        height: 865px;
    }

</style>