
<!-- Angular -->

{% load static %}


<script type="text/javascript" src="{% static "node_modules/jquery/dist/jquery.js" %}"></script>
<script type="text/javascript" src="{% static "node_modules/angular/angular.js" %}"></script>
<script type="text/javascript" src="{% static "node_modules/angular/angular-locale_pt-br.js" %}"></script>
<script type="text/javascript" src="{% static "node_modules/angular-aria/angular-aria.js" %}"></script>
<script type="text/javascript" src="{% static "node_modules/angular-animate/angular-animate.js" %}"></script>
<script type="text/javascript" src="{% static "node_modules/angular-material/angular-material.js" %}"></script>
<script type="text/javascript" src="{% static "node_modules/angular-messages/angular-messages.js" %}"></script>
<script type="text/javascript" src="{% static "node_modules/angular-route/angular-route.js" %}"></script>
<script type="text/javascript" src="{% static "node_modules/angular-sanitize/angular-sanitize.js" %}"></script>
<script type="text/javascript" src="{% static "node_modules/angular-resource/angular-resource.js" %}"></script>

<script type="text/javascript" src="{% static "node_modules/angular-input-masks/releases/angular-input-masks-standalone.min.js" %}"></script>
<script type="text/javascript" src="{% static "bower_components/angular-br-filters/release/angular-br-filters.min.js" %}"></script>

<script src="http://ngmaterial.assets.s3.amazonaws.com/svg-assets-cache.js"></script>

<script src="{% static "/js/sati_app.js" %}"></script>
<script src="{% static "/js/sati_factory.js" %}"></script>
<script src="{% static "/js/sati_directive.js" %}"></script>

<!-- CRUD -->
<script src="{% static "/js/crud/crud_factory.js" %}"></script>
<script src="{% static "/js/crud/crud_urls_factory.js" %}"></script>
<script src="{% static "/js/getmdl-select.js" %}"></script>

<!-- Public -->

<!-- App: Public -->

<script src="{% static "/js/public/event/event_controller.js" %}"></script>
<script src="{% static "/js/public/event/event_directive.js" %}"></script>
<script src="{% static "/js/public/event/event_factory.js" %}"></script>
<script src="{% static "/js/public/event/event_filter.js" %}"></script>



<script src="{% static "/js/public/signup/signup_controller.js" %}"></script>
<script src="{% static "/js/public/signup/signup_factory.js" %}"></script>
<script src="{% static "/js/public/signup/signup_directive.js" %}"></script>


<script src="{% static "/js/public/public_directive.js" %}"></script>

<!-- DASH -->
<script src="{% static "/js/dashboard/participant/participant_controller.js" %}"></script>


<!-- MDL -->

<script src="{% static "/node_modules/mdl/material.min.js" %}"></script>

