{% extends 'public/base.html' %}

{% load static %}

{% block content %}
    <div ng-init="event_id = {{ request.event_id }} "></div>

    <div ng-controller="EventDetailCtrl as eventDetail">

        <div    class="mdl-grid mdl-grid--no-spacing headline-event-detail headline-image mdl-typography--text-center"
                ng-style="{
                background: 'url(' + eventDetail.event.category.image + ') center',}">
            <div class="mdl-cell--12-col headline-overflow">
                <h1 class="mdl-typography--display-4 mdl-color-text--white headline-title" ng-bind="eventDetail.event.name"></h1>
                <h1 class="mdl-typography--display-1 mdl-color-text--white headline-subtitle"  ng-bind="eventDetail.event.edition.name"></h1>
            </div>
        </div>


        <div class="mdl-grid mdl-grid max-w-1280 event-detail__description ">
            <md-toolbar class="md-theme-light  vert-align mdl-grid mdl-grid">
                <div class="md-display-1 mdl-cell--4-col">
                    <span><i class="material-icons vert-align" role="presentation">label</i><label class="vert-align" ng-bind="' ' + eventDetail.event.category.name"></label></span>
                </div>
                <div class="mdl-layout-spacer"></div>
                <div class="md-display-1 mdl-typography--text-right mdl-cell--4-col">
                   <span class="vert-align" ng-bind="eventDetail.event.fee == 0 ? 'Grátis' : (eventDetail.event.fee | currency) "></span>
                </div>
            </md-toolbar>

            <hr/>

            <md-content class="mdl-shadow--3dp mdl-grid" flex layout-padding>

                <div class="mdl-cell--12-col mdl-grid mdl-grid">
                    <div class="mdl-layout-spacer"></div>

                    <div class="mdl-cell--10-col mdl-grid mdl-grid">

                        <p ng-bind="eventDetail.event.description">

                        </p>
                    </div>

                    <div class="mdl-layout-spacer"></div>
                </div>

                <div class="divider mdl-cell--12-col mdl-color-text--grey-800"><span></span><span>Turmas Abertas</span><span></span></div>

                <div class="mdl-grid mdl-cell--12-col session-detail">
                    <session-detail
                            class="mdl-grid mdl-card mdl-cell mdl-cell--12-col mdl-shadow--2dp"
                            ng-repeat="session in eventDetail.event.sessions">
                    </session-detail>

                    <noresult-message
                        class="mdl-grid mdl-cell mdl-cell--12-col"
                        ng-hide="eventDetail.event.sessions.length"
                        ng-init="message = eventDetail.EventLabel.no_results_session()">
                    </noresult-message>
                </div>

                </md-content>
        </div>


    </div>



{% endblock %}



