<md-dialog aria-label="Mango (Fruit)">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2 ng-bind="title"></h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">

          <error-response messages="errors" ng-show="errors.length" class="mdl-cell mdl-cell--12-col mdl-grid"></error-response>
          <success-response messages="success" ng-show="success.length" class="mdl-cell mdl-cell--12-col mdl-grid"></success-response>

      </div>
    </md-dialog-content>

      <md-dialog-actions layout="row">

          <div class="mdl-layout-spacer"></div>

          <md-button
                  aria-label="Label.button_close()"
                  ng-click="cancel()"
                  ng-bind="Label.button_close()"
                  class="md-raised md-warn mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
          </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>