{% load static %}

<!-- general files -->
{% include 'javascript.html' %}

<!-- App: Public -->

<script src="{% static "/js/public/event/event_controller.js" %}"></script>
<script src="{% static "/js/public/event/event_directive.js" %}"></script>
<script src="{% static "/js/public/event/event_factory.js" %}"></script>
<script src="{% static "/js/public/event/event_filter.js" %}"></script>



<script src="{% static "/js/public/signup/signup_controller.js" %}"></script>
<script src="{% static "/js/public/signup/signup_factory.js" %}"></script>
<script src="{% static "/js/public/signup/signup_directive.js" %}"></script>



<script src="{% static "/js/public/public_directive.js" %}"></script>