{% extends 'public/base.html' %}

{% block content %}

    <div class="mdl-grid" ng-controller="SignupCtrl as signupCtrl">

        <div class="mdl-layout-spacer"></div>

        {% include 'sati_utfpr/ng_messages.html' %}

        <div class="mdl-grid mdl-cell mdl-cell--5-col mdl-cell--7-col-tablet mdl-cell--4-col-phone">

            <md-toolbar class="vert-align mdl-grid">
                <div class="md-display-1 mdl-typography--text-center mdl-cell--12-col">
                   <span class="vert-align" ng-bind="SignupLabel.label_signup_title()"></span>
                </div>
            </md-toolbar>

            <md-content class="mdl-shadow--3dp mdl-grid" flex layout-padding>
                <!--div class="mdl-layout-spacer"></div-->

                <form name="signup_form" class="mdl-cell mdl-cell--12-col mdl-grid" novalidade ng-submit="signup_form.$valid">

                    <md-input-container class="mdl-cell mdl-cell--12-col">
                        <label ng-bind="CRUDLabel.label_person_full_name()"></label>
                        <input required  type="text" maxlength="{[{ FieldSize.name() }]}"
                               name="personFullName" ng-model="signupCtrl.signup_form.person.name">
                        <div ng-messages="signup_form.personFullName.$error">
                            <div ng-messages-include="form-messages-error"></div>
                        </div> <!-- md-no-asterisk -->

                    </md-input-container>

                    <md-input-container class="mdl-cell mdl-cell--12-col">
                        <label  ng-bind="CRUDLabel.label_person_email()"></label>
                        <input required  maxlength="{[{ FieldSize.email() }]}"
                               type="email" name="personEmail" ng-model="signupCtrl.signup_form.person.email"/>
                        <div ng-messages="signup_form.personEmail.$error" role="alert">
                            <div ng-messages-include="form-messages-error"></div>
                        </div>
                    </md-input-container>

                    <md-input-container class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
                        <label ng-bind="CRUDLabel.label_person_password()"></label>
                        <input required type="password" maxlength="{[{ FieldSize.password() }]}"
                               name="personPassword" ng-model="signupCtrl.signup_form.person.password">
                        <div ng-messages="signup_form.personPassword.$error" role="alert">
                            <div ng-messages-include="form-messages-error"></div>
                        </div>
                    </md-input-container>

                    <md-input-container class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
                        <label ng-bind="CRUDLabel.label_person_confirm_password()"></label>
                        <input required type="password" maxlength="{[{ FieldSize.password() }]}"
                               name="personConfirmPassword" ng-model="signupCtrl.signup_form.person.confirm_password"
                               compare-to="signupCtrl.signup_form.person_password">
                        <div ng-messages="signup_form.personConfirmPassword.$error" role="alert">
                            <div ng-messages-include="form-messages-error"></div>
                        </div>
                    </md-input-container>

                    <md-input-container class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
                        <label ng-bind="CRUDLabel.label_person_cpf()"></label>
                        <input required type="text" maxlength="{[{ FieldSize.cpf() }]}" ui-br-cpf-mask
                               name="personCPF" ng-model="signupCtrl.signup_form.person.cpf">
                        <div ng-messages="signup_form.personCPF.$error" role="alert">
                            <div ng-messages-include="form-messages-error"></div>
                        </div>
                    </md-input-container>

                    <md-input-container class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
                        <label ng-bind="CRUDLabel.label_person_ra()"></label>
                        <input type="number" maxlength="{[{ FieldSize.ra() }]}"
                               name="personRA" ng-model="signupCtrl.signup_form.person_ra">
                        <div ng-messages="signup_form.personRA.$error" role="alert">
                            <div ng-messages-include="form-messages-error"></div>
                        </div>
                    </md-input-container>

                    <div class="mdl-cell mdl-cell--12-col mdl-grid checkboxdemoSyncing">
                        <div flex="100" layout="column">
                            <div>
                                <fieldset class="standard">
                                    <legend class="mdl-typography--headline mdl-typography--text-center" ng-bind="Label.open_sessions()"></legend>
                                    <div layout="row" layout-wrap="" flex="">
                                        <div flex="100" ng-repeat="item in items">
                                            <md-checkbox ng-checked="exists(item, selected)" ng-click="toggle(item, selected)">
                                                {{ item }} <span ng-if="exists(item, selected)">selected</span>
                                            </md-checkbox>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>

                        <div flex="100">
                            <h2 class="md-title">Selected Items</h2>
                            <code style="display: block; padding: 8px;">{{selected}}</code>
                        </div>
                    </div>

                    <md-button class="md-raised md-warn mdl-cell mdl-cell--3-col mdl-cell--2-col-phone">Limpar</md-button>
                    <div class="mdl-layout-spacer"></div>
                    <md-button ng-click="signupCtrl.create()"
                               ng-disabled="!signup_form.$valid"
                               aria-label="Add"
                               class="md-raised md-primary mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--2-col-phone"
                               ng-bind="CRUDLabel.label_add_item()">
                    </md-button>

                </form>


                <!--div class="mdl-layout-spacer"></div-->

            </md-content>
        </div>

        <div class="mdl-layout-spacer"></div>

    </div>
{% endblock %}