.dashboard-drawer__user-info {
    clear: both;
}

.dashboard-drawer__user-info-greet {
    min-height: 35px;
    color: #868686;
    line-height: 35px;
    text-align: center;
    font-weight: 300;
    font-size: 20px;
    text-transform: uppercase;
}

/*  Not modified */
.dashboard-avatar {
  width: 48px;
  height: 48px;
  border-radius: 24px;
}

.dashboard-layout .dashboard-header .mdl-textfield {
  padding: 0px;
  margin-top: 41px;
}

.dashboard-layout .dashboard-header .mdl-textfield .mdl-textfield__expandable-holder {
  bottom: 19px;
}

.dashboard-layout .mdl-layout__header .mdl-layout__drawer-button {
  color: rgba(0, 0, 0, 0.54);
}

.mdl-layout__drawer .avatar {
  margin-bottom: 16px;
}

.dashboard-drawer {
  border: none;
}

/* iOS Safari specific workaround */
.dashboard-drawer .mdl-menu__container {
  z-index: -1;
}

.dashboard-drawer .dashboard-navigation {
  z-index: -2;
}

/* END iOS Safari specific workaround */
.dashboard-drawer .mdl-menu .mdl-menu__item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.dashboard-drawer-header {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 16px;
  height: 151px;
}

.dashboard-avatar-dropdown {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
